body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

form {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

div {
    
    width: 50rem;
    height: 400px;
    /* display: flex; */
    align-content: center;
    background:linear-gradient(rgb(1, 1, 67),rgb(0, 136, 247));
    border: 2px solid red;
    border-radius: 50px;
    
    background-repeat: no-repeat;
    background-size: 140vh 80vh;
    color:white;
}